@import url("global.css");
/* ------------- Header Section ------------- */
.header {
  height: 100vh;
  width: 100%;
}
.header .container {
  height: 100%;
}
.header__contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header__content {
  text-align: center;
  max-width: 30rem;
}
.header__img {
  width: 15rem;
  height: 15rem;
  margin: 0 auto;
}
.header__devName {
  font-size: 2.8rem;
  font-family: "Oswald";
  letter-spacing: 1px;
  margin: 2rem 0;
}

/* ------------- Projects Section ------------- */
.projectContainer {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

.projectContainer__title {
  margin: 2rem 0;
  font-size: 3rem;
  font-family: "Oswald";
  letter-spacing: 1px;
}
.projectContainer__img {
  width: 100%;
}
.projectContainer__techListHeader {
  /* margin-bottom: 0.5rem; */
}
.projectContainer__techList {
  display: flex;
  flex-wrap: wrap;
}
.projectContainer__techItem {
  padding: 0.5rem 0.85rem;
  margin: 0.5rem 0.5rem 0 0;
  font-size: 1.4rem;
  border: 1px solid var(--secondary-color);
}

/* ------------- Media Queries ------------- */
@media (min-width: 300px) {
  .header__devName {
    font-size: 3.6rem;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: none;
  }
  .projectContainer {
    flex-direction: row;
    padding: 5rem 0;
  }
  .projectContainer--reverse {
    flex-direction: row-reverse;
  }
  .projectContainer__img {
    width: 50%;
  }
  .projectContainer__info {
    padding-left: 2rem;
    width: 50%;
  }
  .projectContainer--reverse .projectContainer__info {
    padding-right: 2rem;
    padding-left: 0;
  }
  .projectContainer__title {
    margin-top: 0;
    font-size: 3.5rem;
  }
}
