@import url("global.css");
/* ------------- Header Section ------------- */
.header {
  height: 100vh;
  width: 100%;
  background-color: whitesmoke;
}
.header .container {
  height: 100%;
}
.header__contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header__content {
  text-align: center;
  max-width: 30rem;
}
.header__img {
  width: 15rem;
  height: 15rem;
  margin: 0 auto;
}
.header__devName {
  font-size: 2.8rem;
  font-family: "Oswald";
  letter-spacing: 1px;
  margin: 2rem 0;
}
.header__hireMeBtn {
  display: inline-block;
  padding: 1.5rem 2.5rem;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  letter-spacing: 1px;
  background: var(--primary-gradient);
  border-radius: 2.5rem;
}
.header__hireMeBtn:hover {
  background-color: var(--primary-color);
  color: white;
}
.header__skillsList {
  display: inline-flex;
}

/* ------------- Projects Section ------------- */
.projectsSection {
  padding: 5rem 0;
}
.projectsSection__header {
  text-align: center;
  font-size: 3.6rem;
  font-family: "Oswald";
  letter-spacing: 1px;
}
.projectContainer {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}

.projectContainer__title {
  margin: 2rem 0 0.5rem 0;
  font-size: 3rem;
  font-family: "Oswald";
  letter-spacing: 1px;
}
.projectContainer__img {
  width: 100%;
}
.projectContainer__techListHeader {
  margin-bottom: 0.5rem;
}
.projectContainer__techList {
  display: flex;
  flex-wrap: wrap;
}
.projectContainer__techItem {
  padding: 0.3rem 0.4rem;
  margin: 0.85rem 0.85rem 0 0;
  font-size: 1.4rem;
  /* border-bottom: 2px solid var(--primary-color); */
  position: relative;
  transition: all 0.5s;
}
.projectContainer__techItem:hover {
  color: white;
}
.projectContainer__techItem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: var(--primary-gradient);
  transition: all 0.5s;
  z-index: -1;
}
.projectContainer__techItem:hover::after {
  height: 100%;
}
.projectContainer__description {
  margin-top: 2rem;
}
.projectContainer__btnsWrapper {
  margin: 2rem 0;
}
.projectContainer__websiteBtn,
.projectContainer__codeBtn {
  display: inline-block;
  padding: 0.75rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  /* letter-spacing: 1px; */
  transition: all 0.3s;
  border: 0.3rem solid;
  border-image-source: var(--primary-gradient);
  border-image-slice: 1;
  box-sizing: border-box;
}
.projectContainer__websiteBtn {
  background: var(--primary-gradient);
  margin-right: 0.85rem;
}
.projectContainer__codeBtn {
  margin-top: 0.5rem;
}
.projectContainer__websiteBtn:hover,
.projectContainer__codeBtn:hover {
}

/* ------------- Contact Form ------------- */
.footer {
  padding: 3rem 0;
  background-color: whitesmoke;
}
.footer .container {
  display: flex;
}

.footer__column--left {
  position: relative;
  display: none;
}
.footer__column--right {
  padding: 0;
  width: 100%;
}

.contactImg svg {
  width: 100%;
}
.contactForm__title {
  font-size: 2.4rem;
  font-family: "Oswald";
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

input.field__input {
  height: 5rem;
  border-radius: 2.5rem;
  padding: 0 3rem 0 5rem;
}

input.field__input[name="email"] {
  padding: 0 3rem 0 5.4rem;
}

textarea.field__input {
  min-height: 15rem;
  border-radius: 2.5rem;
  padding: 1.4rem 3rem;
  resize: vertical;
}

/*---------------------------------------------*/
.field {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 1rem;
}

.field__input {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #666666;
}

.field__inputFocus {
  display: block;
  position: absolute;
  border-radius: 2.5rem;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(110, 72, 170, 0.5);
  /* color: rgba(132, 106, 221, 0.5); */
}

.field__input:focus + .field__inputFocus {
  -webkit-animation: animateShadow 0.5s ease-in-out forwards;
  animation: animateShadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes animateShadow {
  to {
    box-shadow: 0px 0px 6rem 2.5rem;
    opacity: 0;
  }
}

@keyframes animateShadow {
  to {
    box-shadow: 0px 0px 6rem 2.5rem;
    opacity: 0;
  }
}

.field__inputIcon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 2.5rem;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 3rem;
  pointer-events: none;
  color: #aaaaaa;
  font-size: 1.5rem;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.field__input:focus + .field__inputFocus + .field__inputIcon {
  color: #6e48aa;
  padding-left: 22px;
}

.contactForm__btnContainer {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
}

.contactForm__btn {
  width: 100%;
  height: 5rem;
  border-radius: 2.5rem;
  background: var(--primary-gradient);
  font-size: 1.5rem;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.5rem;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contactForm__btn:hover {
  /* background: #333333; */
}

/* ------------- Media Queries ------------- */
@media (min-width: 300px) {
  .header__devName {
    font-size: 3.6rem;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  /* .footer__column:last-child {
    padding: 0;
    width: 100%;
  } */
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .container {
    max-width: none;
  }

  .projectContainer {
    flex-direction: row;
    padding: 5rem 0;
  }
  .projectContainer--reverse {
    flex-direction: row-reverse;
  }
  .projectContainer__img {
    width: 50%;
  }
  .projectContainer__info {
    padding-left: 2rem;
    width: 50%;
  }
  .projectContainer--reverse .projectContainer__info {
    padding-right: 2rem;
    padding-left: 0;
  }
  .projectContainer__title {
    margin-top: 0;
    font-size: 3.5rem;
  }

  .footer__column {
    width: 50%;
    padding: 0 4rem;
  }
  .footer__column--left {
    display: block;
  }
}
